</div>
</div>


<!--   Core JS Files   -->
<script src="/assets/jquery.min.js"></script>
<script src="/assets/popper.min.js"></script>
<script src="/assets/bootstrap-material-design.min.js"></script>
<script src="https://unpkg.com/default-passive-events"></script>
<script src="/assets/perfect-scrollbar.jquery.min.js"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Chartist JS -->
<script src="/assets/chartist.min.js"></script>

<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/assets/material-dashboard.js?v=2.1.0"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="/assets/demo.js"></script>
<script src="/assets/number.js"></script>
</body>

</html> 