<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/assets/style.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

  <div class="container">
    <div class="frame">
      <div class="nav">
      </div>
      <div >
  
                  <div class="successtext">
                      <img src="https://user-images.githubusercontent.com/63330428/102718871-34919200-431d-11eb-8fd2-70b4dc04b94d.png" alt="">
                     <p>Thanks for signing up! Check your email</p>
                     <img src="assets/img/next.png" width="34%" alt="">
                  </div>
            
               
        </div>
        

    </div>
      
  </div>
  <script src="assets/jquery.js"></script>

</body>
</html>